/* ===== MODO ESCURO ===== */
:root {
    --fundo: #E3C4A6;
    --texto: #3F3F3F;
    --card: #EDEDED;
    --linha: #FFFFFF;
}

/* ===== MODO ESCURO ===== */
body.dark {
    --fundo: #714C27;   
    --texto: #FFFFFF;   
    --card: #946135;
    --linha: #FFFFFF33;
    --strong: #FFFFFF;
    --transparecer: #5c3d23d0;
}

/* ===== TRANSIÇÃO SUAVE ===== */
body, .card, .menu a, .destaques, .linha {
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}




body{
    background-color: var(--fundo) ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color:var(--texto);
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

.menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}

/* fases */

.faseon {
    background-color: #ff8c8c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    width: 238px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin: 20px;  
    margin-left: 9%;
    margin-right: 9%;
    vertical-align: middle;

}

.faseon:hover {
    background-color: #FFA6A6;
}

.faseoff {
    background-color: #fccea0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    width: 238px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin: 20px;  
    margin-left: 9%;
    margin-right: 9%;
    vertical-align: middle;

}

.faseoff:hover {
    background-color: #ffe3c7;
}

.cadeado{
    background-image: url(../imagem/cadeado.png);
    background-repeat: no-repeat;
    background-position: right -1px center;
    background-size: 30px 30px; 
    padding-right: 50px !important;
}

label {
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 8.5%;
    margin-bottom: 5px;
}


.resposta{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--card);
    border-color: #f8b97b;
    border-radius: 20px;
    width: 80%;
    height: 400px;
    padding: 15px;
    display: block;
    margin: 20px auto;
    font-family: inherit; 
    resize: none;
}

.resposta::placeholder {
    font-size: 20px;
    color: var(--texto);
}

button {
    width: 100%;
    max-width: 250px;
    border-radius: 30px;
    border: none;
    background-color: var(--card);
    color: #f0f0f0;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
    display: block;
    margin: 20px auto;
    
}

button:hover {
    background-color: var(--transparecer);
}

.linha-bottom{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    margin-top: 80px;
   
  }

footer{
    color: var(--strong);
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 1%;
    align-items: center;
}