body{
    background-color: #E3C4A6;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35%;
}

h1{
    color: #3F3F3F;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    

}
.formulario{
    justify-content: center;

}

label{
    color: #3F3F3F;
    display: flex;
}

input{
    background-color: #E8E8E8;
    border: 2px solid #9D9696;
    border-radius: 10.5px;
    padding: 1% 3%;
    display: flex;
    margin-bottom: 2%;
    text-align: left;
    cursor: pointer;

}

button{
    border-radius: 30px;
    align-items: center;
    border: none;
    background-color: #FFA6A6;
    color: #FFFFFF;
    margin-top: 2%;
    padding: 1% 5%;
    font-size: 120%;
    cursor: pointer;
}