* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}


.container-principal {
    display: flex;
    height: 100vh;
    width: 100%
}


.lado-esquerdo {
    width: 50%;
    background-color: #714C27; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.lado-esquerdo img {
    width: 80%;
    max-width: 600px;
}


.lado-direito {
    width: 50%;
    background-color: #E3C4A6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    width: 60%;
    max-width: 400px;
}

h1 {
    color: #3F3F3F;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}


.campo {
    margin-bottom: 20px;
}

label {
    color: #3F3F3F;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

input {
    width: 100%;
    background-color: #E8E8E8;
    border: 2px solid #9D9696;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
}

.campo-botao {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%
}

button {
    width: 100%;
    max-width: 250px;
    border-radius: 30px;
    border: none;
    background-color: #FFA6A6;
    color: #FFFFFF;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover {
    background-color: #ff8c8c;
}
