body{
    background-color: #E3C4A6 ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: #3F3F3F;
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

 .menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}

/* botões */

.btn-controle {
    padding: 10px 20px;
    border: none;
    background-color: #FFA6A6;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 30px;
    margin-bottom: 25px;
}

.btn-controle.ativo {
    background-color: #FF8080;
    color: white;
    border-color: #FF8080;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}


/* cards */

.grid-receitas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 4fr)); 
    gap: 100px; 
    padding: 0 30px 40px 30px; 
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.2s; /* animaçãozinha */
    cursor: pointer;
    text-align: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.10);
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card h3, .card p {
    margin: 10px 0 5px 0;
    font-size: 1.7rem;
    color: #333;
    text-align: left;
    padding-left: 5px;
}

.linha-bottom{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    margin-top: 80px;
   
  }

footer{
    color: #8d6e63;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 1%;
    align-items: center;
}