:root {
    --fundo: #E3C4A6;
    --texto: #3F3F3F;
    --card: #EDEDED;
    --linha: #FFFFFF;
    --botao:#FF8080;
    --strong: #8d6e63;
    --transparecer: #ffead4;
    --ativo: #FF8080;
}

/* ===== MODO ESCURO ===== */
body.dark {
    --fundo: #714C27;   
    --texto: #FFFFFF;   
    --card: #946135;
    --linha: #FFFFFF33;
    --strong: #FFFFFF;
    --transparecer: #5c3d23d0;
    --botao:#ca803e;
    --ativo: #a37043;
}
/* ===== TRANSIÇÃO SUAVE ===== */
body, .card, .menu a, .destaques, .linha {
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}


body{
    background-color: var(--fundo) ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: var(--texto);
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

.menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}


/* botoes */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    margin-top: 1%;
    flex-wrap: wrap;
    gap: 16%;
}

button {
    background-color: var(--botao); 
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    width: 255px;
    padding: 16px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    margin-left: 5%;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

button.ativo {
    background-color:var(--ativo) ;
    color: white;
}

button:hover:not(.ativo) {
    background-color: var(--transparecer);
}

.ativo button:hover {
    background-color: var(--transparecer);
}

.cadeado{
    background-image: url('../imagem/cadeado.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center; 
    background-size: 15px;
    padding-right: 20px;
    background-origin: content-box;
}

a{
    color: #f0f0f0;
    text-decoration: none;
}


/* cards */
.cards-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: var(--card);
    border-radius: 18px;
    padding: 20px;
    width: 340px;   
    margin-top: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: var(--texto);
    
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.10);
}

.card img{
    width: 100%;
    height: 220px;      
    object-fit: cover;
    border-radius: 12px;
}

.avaliar{
    display: block;   
    margin: 0 auto;
    background-color: var(--botao); 
    color: white;
    border-radius: 30px;
    padding: 15px 70px;
    cursor: pointer;
    font-family:  sans-serif;
    border:#FF8080;
    font-size: 18px;
    
}

.avaliar:hover{
    background-color: #FFA6A6 !important;
}

.linha-bottom{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    margin-top: 80px;
   
  }

footer{
    color: var(--strong);
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 1%;
    align-items: center;
}