body{
    background-color: #E3C4A6 ;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0%;
    }
    
    .cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    }
    
    .pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;
    
    cursor: pointer;
    
    }
    
    .logo{
    cursor: pointer;
    }
    
    .tema{
    cursor: pointer;
    }
    
    .perfil{
    cursor: pointer;
    }
    
    .tema{
    cursor: pointer
    }
    
    .linha{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    
    }
    
    .menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    margin-bottom: 15px;
    
    
    }
    
    .menu a {
    text-decoration: none;
    color: #3F3F3F;
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
    }
    
    .menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
    }

    .menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}


/* botoes */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    margin-top: 1%;
    flex-wrap: wrap;
    gap: 16%;
}

button {
    background-color: #fccea0; 
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    width: 255px;
    padding: 16px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    margin-left: 5%;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

button.ativo {
    background-color: #ff8c8c;
    color: white;
}

button:hover:not(.ativo) {
    background-color: #ffe3c7;
}

.ativo button:hover {
    background-color: #FFA6A6;
}

.cadeado{
    background-image: url('../imagem/cadeado.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center; 
    background-size: 15px;
    padding-right: 20px;
    background-origin: content-box;
}


/* cards */
.cards-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap; /* evita quebrar layout em telas menores */
}

.card{
    background-color: #EDEDED;
    border-radius: 18px;
    padding: 20px;
    width: 340px;        
    margin-top: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.10);
}

.card img{
    width: 100%;
    height: 220px;      
    object-fit: cover;
    border-radius: 12px;
}

.concluir{
    display: block;   
    margin: 0 auto;
    background-color: #FF8080; 
    color: white;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    font-family:  sans-serif;
    border:#FF8080;
    font-size: 18px;
    
}

.concluir:hover{
    background-color: #FFA6A6 !important;
}

.requer{
    display: block;   
    margin: 0 auto;
    background-color: #9D9696; 
    color: white;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    font-family:  sans-serif;
    border:none;
    font-size: 18px;
    white-space: nowrap;
}

.requer:hover{
background-color: #9D9696 !important;
}