body {
    background-color: #E3C4A6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}


.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: #3F3F3F;
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

.menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}


/* CONTAINER */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 20px 0;
}


.destaques{
    font-size: 35px;
    font-weight: 600;
    color: #3F3F3F;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 10%;
}



.grid-receitas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .grid-receitas {
        grid-template-columns: 1fr;
    }
}


.cards-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

/* cards */
.cards-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap; 
}

.card{
    background-color: #EDEDED;
    border-radius: 18px;
    padding: 20px;
    height: 360px;
    width: 400px;       
    margin-bottom: 50px;
    margin-right: 50px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.10);
}

.card img{
    width: 100%;
    height: 300px;     
    object-fit: cover;
    border-radius: 12px;
}

.card h3 {
    font-size: 24px;    
    font-weight: bold;   
    color: #3F3F3F;        
}

.linha-bottom {
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer {
    color: #8d6e63;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 1px;
}