body{
    background-color: #E3C4A6 ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}

.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 2px 0px;
  border-radius: 30px;
 
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px 10%;
    min-height: 70vh;
}

.perfil-header {
    width: auto;
    display: flex;
    justify-content: center;
}

#foto-exibicao {
    width: 20vw; 
    height: 20vw; 
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.info-group {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.info-group h1 {
    font-size: 1.5rem;
    color: #8d6e63;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.info-group h2 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 25px;
    color: #3e2723;
    font-weight: 600;
}

.info-group h2:last-child {
    margin-bottom: 0;
}

.btn-edit{
    width: 50%;
    max-width: 180px;
    border-radius: 30px;
    border: none;
    background-color: #ff8c8c;
    color: #FFFFFF;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: -60px auto;
    text-align: center;
}
    
.btn-edit:hover{
background-color: #FFA6A6;
}

a{
    text-decoration: none;
}

.linha-bottom{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    margin-top: 80px;
   
  }

footer{
    color: #8d6e63;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 26px;
    padding-bottom: 1px;
    align-items: center;
}