body{
    background-color: #E3C4A6 ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: #3F3F3F;
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

/* Card */

main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.card-receita {
    background-color: white;
    width: 100%;
    max-height: 50%;
    max-width: 50%;
    border-radius: 20px;
    padding: 30px;
}

.card-topo {
    display: flex;
    gap: 30px; 
    margin-bottom: 20px;
}

#imagem-receita {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.card-info {
    flex: 1;
}

#titulo-receita {
    background-color: #FF8080; 
    color: white;
    padding: 10px 20px;
    border-radius: 50px; 
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    color: #444;
    margin-bottom: 10px;
}

#lista-ingredientes {
    padding-left: 20px;
    line-height: 1.6; 
}