:root {
    --fundo: #E3C4A6;
    --texto: #3F3F3F;
    --card: #EDEDED;
    --linha: #FFFFFF;
    --botao:#FF8080;
    --strong: #8d6e63;
}

/* ===== MODO ESCURO ===== */
body.dark {
    --fundo: #714C27;   
    --texto: #FFFFFF;   
    --card: #946135;
    --linha: #FFFFFF33;
    --strong: #FFFFFF;
    --transparecer: #5c3d23d0;
    --botao:#ca803e;
}
/* ===== TRANSIÇÃO SUAVE ===== */
body, .card, .menu a, .destaques, .linha {
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}


body{
    background-color: var(--fundo) ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: var(--texto);
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color: #FF8080 ;
    border-bottom:3px solid #FF8080;
}

.menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}

.container-principal {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* grafico */
.painel-grafico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.legenda-container {
    flex: 1;
}

.badge-titulo {
    background-color: var(--botao);
    color: #ffff;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 30px;
}

.lista-legenda {
    list-style: none;
    padding: 0;
}

.lista-legenda li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--texto);
}

.bolinha {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}

.cor-1 { background-color: #E85D04; }
.cor-2 { background-color: #FAA307; }
.cor-3 { background-color: #FFD2B6; }

.area-chart {
    width: 350px; 
    height: 350px;
}

/* upload */
.area-upload h3 {
    font-weight: normal;
    margin-bottom: 10px;
    color: var(--texto);
}

.caixa-upload {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 2px dashed rgba(255,255,255,0.5);
    transition: background 0.3s;
}

.caixa-upload:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.icone-mais {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: transparent;
    border: 2px solid white;
    color: var(--texto);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

#texto-arquivo {
    color: var(--texto);
    font-style: italic;
}

.btn-adicionar {
    background-color: var(--botao);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    cursor: pointer;
}

.btn-adicionar:hover {
    background-color: #FFA6A6;
}

@media (max-width: 768px) {
    .painel-grafico {
        flex-direction: column;
    }
    .area-chart {
        margin-top: 30px;
    }
}

.linha-bottom{
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    margin-top: 30px;
  }

footer{
    color: var(--strong);
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 1%;
    align-items: center;
}