
:root {
    --fundo: #E3C4A6;
    --texto: #3F3F3F;
    --card: #EDEDED;
    --linha: #FFFFFF;
    --botao:#FF8080;
    --strong: #8d6e63;
    --transparecer: #ffead4;
    --ativo: #FF8080;
}

/* ===== MODO ESCURO ===== */
body.dark {
    --fundo: #714C27;   
    --texto: #FFFFFF;   
    --card: #c48751;
    --linha: #FFFFFF33;
    --strong: #FFFFFF;
    --transparecer: #5c3d23d0;
    --botao:#5c3d23d0;
    --ativo: #ca803e;
}
/* ===== TRANSIÇÃO SUAVE ===== */
body, .card, .menu a, .destaques, .linha {
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}

body{
    background-color: var(--fundo) ;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}



.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.pesquisa{
    width:70%;
    padding: 15px 10%;
    padding-left: 18px;
    border-radius: 55px;
    border: none;
    background-image: url(../imagem/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
    background-position-x: 99%;
    font-size: medium;

    cursor: pointer;
    
}

.logo{
    cursor: pointer;
}

.tema{
    cursor: pointer;
}

.perfil{
    cursor: pointer;
}

.tema{
    cursor: pointer
}

.linha{
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 100%;
  margin: 20px 0px;
  border-radius: 30px;
 
}

.menu{
    display: flex;
    gap: 20%;
    padding: 1% 10%;
    
    
}

.menu a {
    text-decoration: none;
    color: var(--texto);
    font-size: 230%;
    font-weight: 500;
    padding-bottom: 6px;
    transition: color 0.2s ease,border-bottom 0.2 ease;
}

.menu a:hover{
    color:#FF8080 ;
    border-bottom:3px solid #FF8080;
}

.menu a.ativo{
    color: #FF8080;
    border-bottom: 3px solid #FF8080;
}

/* fases */

.faseon {
    background-color: #ff8c8c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    width: 238px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin: 20px;  
    margin-left: 9%;
    margin-right: 9%;
    vertical-align: middle;

}

.faseon:hover {
    background-color: #FFA6A6;
}

.faseoff {
    background-color: #fccea0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    width: 238px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin: 20px;  
    margin-left: 9%;
    margin-right: 9%;
    vertical-align: middle;

}

.faseoff:hover {
    background-color: #ffe3c7;
}

.cadeado{
    background-image: url(../imagem/cadeado.png);
    background-repeat: no-repeat;
    background-position: right -1px center;
    background-size: 30px 30px; 
    padding-right: 50px !important;
}

a {
    color: #ffffff;
    text-decoration: none;

}

.cards-container{
    display: flex;
    justify-content: center;  
    margin-top: 60px;
}

.card{
    background-color: var(--card);
    border-radius: 18px;
    padding: 80px;
    width: 75%;  
    max-width: 900px; 
    display:flex;   
    align-items: center;
    gap: 40px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}
.card img {
    width:550px;       
    height: auto; 
    border-radius: 12px;
  
}
    
.card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: var(--texto);
}

.card-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao {
    color: #FFC107;
    font-weight: bold;
    font-size: 1rem;
}
.titulo {
    background-color: var(--botao);
    color: #ffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.4rem;
}

.descricao {
    font-size: 1.15rem;
    line-height: 1.8;
    color: text;
    font-weight: 600;
    margin: 0;
}